.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-delete {
  height: 22px;
  width: 76px;
  margin: 20px 20px 20px 0px;
}

.Item-add {
  height: 22px;
  width: 76px;
  margin: 20px 20px 20px 0px;
}

.Item-count {
  width: 90px;
  height: 22px;
  padding: 20px 24px 20px 0px;
  display: flex;
  justify-content: end;
}

.Item-price {
  width: 20%;
  padding: 20px 48px 20px 0px;
  display: flex;
  justify-content: end;
}
